{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if series.status and series.status != 'ok' %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Произошла ошибка во время анализа!</h4>
  <p>Во время анализа этой серии произошла ошибка. Рекомендуется удалить данную серию с записи пациента.</p>
</div>
{% endif %}

<div class="container">
    <p class="h1 text-center">{{ series.desc }}</p>

    <div class="row">

        <div class="col-md-5">
            <p><b>Дата и время создания:</b> {{ series.dt }}</p>

            <p><b>Количество срезов:</b> {{ series.slice_count }}</p>

            {% if series.left_volume is not none %}
            <p><b>Объем левого гиппокампа:</b> {{ series.left_volume }} мм<sup>3</sup></p>
            {% endif %}

            {% if series.right_volume is not none %}
            <p><b>Объем правого гиппокампа:</b> {{ series.right_volume }} мм<sup>3</sup></p>
            {% endif %}

            {% if series.whole_brain_volume is not none %}
            <p><b>Объем всего мозга:</b> {{ series.whole_brain_volume }} мм<sup>3</sup></p>
            {% endif %}

            {% if series.normed_left_volume is not none %}
            <p><b>Нормированный объем левого гиппокампа:</b> {{ series.normed_left_volume }}</p>
            {% endif %}

            {% if series.normed_right_volume is not none %}
            <p><b>Нормированный объем правого гиппокампа:</b> {{ series.normed_right_volume }}</p>
            {% endif %}

        </div>

        <div class="col-md-5 btn-group-vertical">
            <a href="{{ url_for('patients.route_page', patient_id=patient_id) }}" role="button" aria-pressed="true"
               class="btn btn-primary btn-lg active btn-block">
                Вернуться на страницу пациента
            </a>

            <a href="{{ url_for('patients.delete_series', patient_id=patient_id, series_id=series.id) }}" role="button"
               style="margin-top: 10px" class="btn btn-primary btn-lg active btn-block" aria-pressed="true">
                Удалить
            </a>

            {% if series.left_volume is none %}
            <a href="{{ url_for('patients.analyze_series', patient_id=patient_id, series_id=series.id) }}" role="button"
               class="btn btn-primary btn-lg active btn-block" aria-pressed="true" style="margin-top: 10px" id="analyzing">
                Анализ
            </a>
            {% endif %}

        </div>

    </div>
</div>

<div id="carouselExampleIndicators" class="col-md-5 col-md-offset-2 carousel slide" data-ride="carousel" style="margin-top: 30px">

  <ol class="carousel-indicators">
      {% for idx in range(series.image_paths|length) %}
      {% if idx == '0' %}
      <li data-target="#carouselExampleIndicators" data-slide-to={{idx}} class="active"></li>
      {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to={{idx}}></li>
      {% endif %}
      {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">

      <div class="item active">
          <img src="{{ url_for('static', filename=series.image_paths[0]) }}">
          <div class="carousel-caption">
              <p>Срез №{{ series.image_paths[0].split('/')[-1].split('.')[0] }}</p>
          </div>
      </div>

      {% for image_path in series.image_paths[1:] %}
      <div class="item">
          <img src="{{ url_for('static', filename=image_path) }}">
          <div class="carousel-caption">
              <p>Срез №{{ image_path.split('/')[-1].split('.')[0] }}</p>
          </div>
      </div>
      {% endfor %}

  </div>
  <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% block scripts %}
    {{ super() }}
    <script>
        var el = document.getElementById('analyzing');
        el.onclick = preAnalyze;

        function preAnalyze() {
            $('#preloader').show();
            $('#content').hide();
            $('#navbar').hide();
            el.submit();
            return false;
        }
    </script>
{% endblock %}

{% endblock %}