{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}BrainMorph{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" id="navbar" style="background-color: #e3f2fd;">
        <div class="container">

            <div class="navbar-header">
                <span class="navbar-brand">BrainMorph</span>
            </div>

            {% if not current_user.is_anonymous %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.route_page') }}">Главная</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.logout') }}">Выйти</a></li>
                </ul>
            {% endif %}

        </div>
    </nav>
{% endblock %}

{% block content %}

    <div id="preloader" style="display:none; width: max-content; margin: auto;">
        <img src="{{ url_for('static', filename='preloader.gif') }}">
    </div>

    <div class="container" id="content">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.getElementById('telephone').addEventListener("keypress", function(){
            if (/^[0-9]{3}$/.test(this.value))
                this.value = "(" + this.value + ") ";

            if (/^\([0-9]{3}\) [0-9]{3}$/.test(this.value))
                this.value = this.value + "-";

            if (/^\([0-9]{3}\) [0-9]{3}-[0-9]{2}$/.test(this.value))
                this.value = this.value + "-";
            });
    </script>
{% endblock %}