{% extends "base.html" %}

{% block app_content %}

    {% if not current_user.is_admin %}
         <div class="container">
             <p class="h1 col-sm-4">Список пациентов</p>

            <div class="col-sm-4 col-md-offset-6">
                <a href="{{ url_for('patients.register') }}" class="btn btn-primary active" role="button"
                   aria-pressed="true">Добавить пациента
                </a>
            </div>

        </div>

        {% if patients %}
        <div class="container col-md-5" style="margin-top: 20px">
            <div class="list-group">
                {% for patient in patients %}
                    {% include 'patients/_patient.html' %}
                {% endfor %}
            </div>

            <nav aria-label="...">
                <ul class="pager">

                    {% if prev_url %}
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}"><span aria-hidden="true">&larr;</span>Назад</a>
                    </li>
                    {% endif %}

                    {% if next_url %}
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">Далее <span aria-hidden="true">&rarr;</span></a>
                    </li>
                    {% endif %}

                </ul>
            </nav>

        </div>
        {% endif %}
    {% endif %}

    {% if current_user.is_admin %}
    <div class="container">
        <p class="h1 col-sm-4">Пользователи</p>

        <div class="col-sm-4 col-md-offset-6">
            <a href="{{ url_for('users.register') }}" class="btn btn-primary btn-lg active btn-block"
               role="button" aria-pressed="true">Добавить пользователя
            </a>
        </div>

        {% if users %}
        <div class="container col-md-5 list-group">
            {% for user in users %}
                {% if not user.is_admin %}
                {% include 'users/_user.html' %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

    </div>
    {% endif %}

{% endblock %}