{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
    <div class="row">
        <h1 align="center">{{ series.desc }}</h1>

        <div class="col-md-5">

            <p><b>Идентификатор:</b> {{ series.id }}</p>

            <p><b>Дата и время создания:</b> {{ series.dt }}</p>

            {% if series.left_volume is not none %}
            <p><b>Объем левого гиппокампа:</b> {{ series.left_volume }} мм<sup>3</sup></p>
            {% endif %}

            {% if series.right_volume is not none %}
            <p><b>Объем правого гиппокампа:</b> {{ series.right_volume }} мм<sup>3</sup></p>
            {% endif %}

            {% if series.whole_brain_volume is not none %}
            <p><b>Объем всего мозга:</b> {{ series.whole_brain_volume }} мм<sup>3</sup></p>
            {% endif %}

            {% if series.normed_left_volume is not none %}
            <p><b>Нормированный объем левого гиппокампа:</b> {{ series.normed_left_volume }}</p>
            {% endif %}

            {% if series.normed_right_volume is not none %}
            <p><b>Нормированный объем правого гиппокампа:</b> {{ series.normed_right_volume }}</p>
            {% endif %}

        </div>

        <div class="col-md-offset-3">
            <img src="{{ url_for('static', filename=series.img_path) }}">
        </div>

    </div>
</div>


<div class="container" style="margin-top:80px">
    <a href="{{ url_for('route_patient_page', patient_id=patient_id) }}"
       class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">
        Вернуться на страницу пациента
    </a>
</div>

<div class="container" style="margin-top:80px">
    <a href="{{ url_for('delete_series', patient_id=patient_id, series_id=series.id) }}"
       class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">
        Удалить
    </a>
</div>

{% if series.left_volume is none %}
<div class="container" style="margin-top:80px">
    <a href="{{ url_for('analyze_series', patient_id=patient_id, series_id=series.id) }}"
       class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">
        Анализ
    </a>
</div>
{% endif %}

{% endblock %}